html{
	/*width: 100%; */
	height: 100%;
	justify-content: center;
	flex-direction: column;
} 

body{
	width: 100%; /* 1920px; */
	height: 100%; /* 1080px; */
	margin: 0px;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center; 
    overflow: clip;
}

@font-face{
	font-family: Deutsch;
	src: url(Deutsch.ttf);
}

#timeOfDay{
	font-family: Deutsch;
	font-size: 230pt;
	text-align: center;
	position: absolute;
	padding-bottom: 10%;
	color: #dfad00;
	paint-order: stroke fill;
   -webkit-text-stroke-width: 10px;
   -webkit-text-stroke-color: #594b0a;
}
#sunOrMoon{
	position: absolute;
	padding-bottom: 10%;
}
#bottomContainer{
	/* width: 100%; */
	height: 100%;
	position: absolute;
	display: flex;
	align-items: flex-end; 
	flex-direction: column; /* should probably be deleted */
	justify-content: flex-end;
	padding-bottom: 10px;
}
#Escanor{
	display: flex;
	width: 100%;
	justify-content: center;
}

#progressBar{
	display: flex;
	justify-content: center;
	align-items: center;
}
#midAligned{
	position: relative;
	align-self: flex-start;
	height: 34px;
}